
<table border="1">
  <tr>
    <th>User ID</th>
    <th>Name</th>
    <th>Avatar</th>
    <th>Password</th>
    <th>Email</th>
    <th>Role ID</th>
    <th>IsActive</th>
    <th> </th>
    <th> </th>
    <th> </th>
    

  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.userId }}</td>
    <td>{{ user.name }}</td>
    <td><img class="img-responsive" src="{{user.avatar}}"></td>
    <td>{{ user.password }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.roleId }}</td>
    <td>{{ user.isActive }}</td>
    <td><a class="btn btn-primary" routerLink="/user/{{user.userId}}"> View </a></td>
    <td><a class="btn btn-primary" routerLink="/user/{{user.userId}}/update/change-password"> Change password </a></td>
    <td><a class="btn btn-primary" routerLink="/user/{{user.userId}}/update/change-avatar"> Change avatar </a></td>
    
  </tr>
</table>